{% extends 'base.html.twig' %}

{% block title %}Démarche environnemental{% endblock %}

{% block body %}
<header>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #436256; ">
            <a class="navbar-brand" href="#">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            ​
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link"
                            href="http://www.pepinieres-rey.com/presentation/notre-demarche-environnement/des-gestes-au-quotidien.html">Des
                            gestes au quotidien <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="http://www.pepinieres-rey.com/presentation/notre-demarche-environnement/protection-biologique-integree.html">Protection
                            Biologique Intégrée</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="http://www.pepinieres-rey.com/actualites/offres-multi-emplois.html">Offres
                            d'Emploi</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Recherche">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </nav>
    </div>
</header>
<p>&nbsp;</p>
<h3 style="text-align: center;"><span>&nbsp;Nos Labels de Qualité</span></h3>
<main>
    <div class="container-fluid">
        <div class="container">
            <div class="grid py-5">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <img src="img/Plante-bleue.png" alt="qualité plante bleue" />
                    <p>&nbsp;</p>
                </div>
                <div class="grid-item">
                    <img src="img/vignet.jpg" alt="vignet follow your flower or plant" />
                    <p>&nbsp;</p>
                </div>
                <div class="grid-item">
                    <img src="img/logo-fleur-de-france.png" alt="logo fleur de france" />
                    <p>&nbsp;</p>
                </div>
            </div>
            ​
            <section id="info" class="container">
                <div class="row">

                    <div class="jumbotron col-12 col-lg-12"> 
                        <h2><i class="fas fa-leaf"></i> Une entreprise mobilisée en faveur de l'environnement </h2>
                        <p class="eco lead" style="color: #BEDB39;">
                            <h6><b>Historique :</b></h6>
                            <p>Depuis les années 90, les Pépinières Rey ont pris conscience de leurs impacts sur
                                l'environnement.<br><br>
                                Elles se sont, petit à petit, sensibilisées à ce sujet. L'entreprise a, pour montrer son
                                engagement,
                                été l'une des premières à entreprendre une démarche de certification dès 2001.<br><br>
                                ​
                                La participation au programme de certification MPS aura permis, aux Pépinières Rey,
                                <b>de réduire en 10 ans les quantités de fongicides par 10 et les quantités
                                    d'insecticides et d'acaricides par 5.</b><br><br>
                                ​
                                En 2011, les pépinières Rey ont également été candidates au label « <u>Plante-Bleue</u>
                                » dont elles ont obtenu le niveau 2 en 2013.<br>
                                ​
                                En décembre 2015, elles ont obtenue le label <b>FLEUR DE France</b>.<br><br>
                                ​
                                <b>Depuis le 21 Juin 2017, nous sommes parmi les 6 premières entreprises horticoles
                                    françaises à avoir obtenu
                                    la certification environnementale « <u>Plante-Bleue</u> » niveau 3.</b><br>
                            </p>
                    </div>
                </div>

                <div class="jumbotron col-12 col-lg-12">
                    <h2><i class="fas fa-leaf"></i> Des techniques de culture adaptées </h2>
                    <p class="eco lead" style="color: #BEDB39;">

                        <p>Toujours dans un souci de diminution de ses impacts sur l'environnement, l'entreprise a, au
                            fil des années,
                            adapté ses méthodes de travail, son matériel ainsi que ses techniques de cultures.<br><br>
                            ​
                            Elle a, par exemple, remplacé ses anciens programmateurs d'arrosage par des programmateurs
                            reliés à des sondes pluviométriques afin de limiter
                            sa consommation d'eau.<br><br>

                            <b>Par ailleurs,</b> la pratique de la <b>Protection Biologique Intégrée (PBI)</b> permet,
                            en favorisant
                            l'accueil de la faune auxiliaire naturelle, une utilisation raisonnée des traitements
                            chimiques.<br><br>
                            La pratique du biocontrôle permet, quant à elle de lutter efficacement contre les
                            ravageurs.<br><br>

                            Elle représente, par définition, l'ensemble des méthodes de protection des végétaux qui
                            utilisent des mécanismes naturels. L'utilisation de ces
                            deux techniques a permis aux <b>Pépinières Rey de diminuer de 20% l'utilisation de produits
                                ayant un classement
                                toxicologique</b>.<br><br>

                            Enfin, l'utilisation de substrats, enrichis par leurs soins au moment de la mise en culture,
                            associées à un engrais à libération lente constitue une fertilisation performante, peu
                            polluante et permet
                            d'adapter l'engrais utilisé aux besoins exacts de la culture.</p>
                </div>
            </section>
</main>


{% endblock %}
